<html>

<head>
    <meta charset="utf-8">
    <title>OnePass</title>

    <div class="topnav" id="topnav">
        <nav>
            <ul>
                {% if not session['username'] %}
                <li id="home_tab"><a href="/">Strona Główna</a></li>
                <li id="signup_tab"><a href="/register">Zarejestruj się</a></li>
                <li id="login_tab"><a href="/login">Zaloguj się</a></li>
                <li id="reset_tab"><a href="/reset">Zresetuj Hasło</a></li>
                {% endif %} {% if session['username'] %}
                <li id="dashboard_tab"><a href="/dashboard">Moje Konto</a></li>
                <li id="logout_tab"><a href="/logout">Wyloguj się</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <div class="header">
        <header>
            <h1>OnePass</h1>
        </header>
    </div>
    <!--     <div class="header">
        <header>
            <img src="../static/assets/logo_150.png" />
            <h2>Postman</h2>
            <p>Autor: Seweryn Bieńko</p>
        </header>
    </div> -->
</head>

<body>

    <div id="flash">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flash_messages">
            {% for message in messages %}
            <li>
                <h3> {{ message }} </h3>
            </li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}
    </div>


    <div id="container">
        {% block content %}{% endblock %}
    </div>


    <!--     <div class="footer">
        <footer>
            <h5>Dodatkowe Informacje</h5>
            <p>Autor: Seweryn Bieńko</p>
            <p>Rok Wydania: 2020 </p>
            <p>Repozytorium znajduje się <a href="https://github.com/sewerpw/postman" target="_blank"> tutaj
                </a> .
            </p>
        </footer>
    </div> -->


</body>

</html>