{% extends "base.html" %} {% block content %}

<head>
    <script type="text/javascript" src="../static/scripts/dashboard.js" defer></script>
</head>

<body>

    <div class="passwords-table">
        <section id="dashboard-table" name="dashboard-table">
            <h2>Twoje Hasła</h2>
            <table id="password-table">
                <thead>
                    <tr>
                        <th>Nazwa Serwisu</th>
                    </tr>
                </thead>
                <tbody id="table-body"></tbody>
            </table>
        </section>
    </div>


    <div class="add-password-class">
        <section id="add-password-section">
            <h2>Dodaj Hasło</h2>
            <form id="add_frm" name="add_frm">
                <ul>
                    <input id="new-name" name="new-name" type="text" placeholder="Nazwa Serwisu" required />
                    <input id="new-password" name="new-password" type="password" placeholder="Hasło w serwisie" required />
                    <input id="master-pass" name="master-pass" type="password" placeholder="Hasło Główne" required />
                </ul>
            </form>
            <button id="add-password-button">Dodaj Hasło</button>
        </section>
    </div>

    <div class="master-password-class">
        <section id="master-password-section">
            <h2>Odszyfruj wybrane hasło</h2>
            <form id="master_frm" name="master_frm">
                <ul>
                    <input id="master-name" name="master-name" type="text" placeholder="Nazwa Serwisu" required />
                    <input id="master-password" name="master-password" type="password" placeholder="Hasło Główne" required />
                </ul>
            </form>
            <button id="master-password-button">Odszyfruj Hasło</button>
        </section>
    </div>

    <p id="unciphered-text"></p>


</body>

{% endblock %}