{% extends "base.html" %} {% block content %}

<head>
    <script type="text/javascript" src="../static/scripts/register.js" defer></script>
</head>

<body>
    <div class="section">
        <div class="form-with-header">
            <section>
                <h2>Zarejestruj się</h2>
                <p>Podaj następujące dane :</p>
                <div class="form">
                    <form name="form" method="POST" action="/register" enctype="multipart/form-data">
                        <ul>
                            <p>Pamiętaj że nazwa użytkownika powinna być większa niż 7 znaków oraz składać tylko z małych liter</p>
                            <div class="form-element">
                                <label for="username"><b>Nazwa Użytkownika:</b></label>
                                <input id="username" name="username" type="text" placeholder="Podaj swój login" required>
                            </div>

                            <div class="form-element">
                                <label for="email"><b>Email:</b></label>
                                <input id="email" name="email" type="text" placeholder="Podaj swój email" required>
                            </div>

                            <p>Pamiętaj że hasło powinno mieć więcej niż 7 znaków składać się przynajmniej z 1 małej litery, 1 dużej litery, 1 cyfry i 1 znaku specjalnego </p>
                            <div class="form-element">
                                <label for="password"><b>Hasło:</b></label>
                                <input id="password" name="password" type="password" placeholder="Podaj swoje hasło" required>
                            </div>
                            <progress max="100" value="0" id="password-meter" name="password-meter"></progress>

                            <div class="form-element">
                                <label for="password1"><b>Powtórz Hasło:</b></label>
                                <input id="password1" name="password1" type="password" placeholder="Powtórz hasło" required>
                            </div>

                            <p>Pamiętaj że hasło główne powinno mieć więcej niż 7 znaków składać się przynajmniej z 1 małej litery, 1 dużej litery, 1 cyfry i 1 znaku specjalnego </p>
                            <div class="form-element">
                                <label for="password"><b>Hasło Główne:</b></label>
                                <input id="master_password" name="master_password" type="password" placeholder="Podaj swoje hasło główne" required>
                            </div>
                            <progress max="100" value="0" id="master-password-meter" name="master-password-meter"></progress>

                            <div class="form-element">
                                <label for="password1"><b>Powtórz Hasło Główne:</b></label>
                                <input id="master_password1" name="master_password1" type="password" placeholder="Powtórz hasło główne" required>
                            </div>

                            <div class="form-element-submit">
                                <input type="submit" name="submit" value="Zarejestruj się">
                            </div>
                        </ul>
                    </form>
                </div>
            </section>
        </div>
    </div>
</body>

{% endblock %}