{% extends "base.html" %} {% block content %}

<head>
    <script type="text/javascript" src="../static/scripts/reset_with_token.js" defer></script>
</head>

<body>
    <script>
        function getURL() {
            return window.location.href;
        }
    </script>
    <div class="login-page">
        <div class="form-with-header">
            <section>
                <h2>Zresetuj swoje hasło</h2>
                <div class="form">
                    <form name="form" method="POST" action="" enctype="multipart/form-data">
                        <ul>
                            <p>Pamiętaj że hasło powinno mieć więcej niż 7 znaków składać się przynajmniej z 1 małej litery, 1 dużej litery, 1 cyfry i 1 znaku specjalnego </p>
                            <div class="form-element">
                                <label for="password"><b>Nowe Hasło:</b></label>
                                <input id="password" name="password" type="password" placeholder="Podaj swoje hasło" required>
                            </div>
                            <progress max="100" value="0" id="password-meter" name="password-meter"></progress>

                            <div class="form-element">
                                <label for="password1"><b>Powtórz Hasło:</b></label>
                                <input id="password1" name="password1" type="password" placeholder="Powtórz hasło" required>

                                <div class="form-element-submit">
                                    <input type="submit" name="submit" value="Zresetuj hasło">
                                </div>
                        </ul>
                    </form>
                    </div>
            </section>
            </div>
        </div>
</body>

{% endblock %}