{% extends "base.html" %} {% block content %}

<head>
</head>

<body>
    <div class="reset-page">
        <div class="form-with-header">
            <section>
                <h2>Zresetuj Hasło</h2>
                <div class="form">
                    <h2>Podaj swój email</h2>
                    <form id="reset-form" name="reset-form" method="POST" action="/reset" enctype="multipart/form-data">
                        <ul>
                            <div class="form-element">
                                <input id="email" name="email" type="text" placeholder="Email" required>
                            </div>

                            <div class="form-element-submit">
                                <input type="submit" name="submit" value="Zresetuj Hasło">
                            </div>
                        </ul>
                    </form>
                </div>
            </section>
        </div>
    </div>
</body>

{% endblock %}