{% extends "base.html" %} {% block content %}

<head>
    <link rel="stylesheet" href="../static/css/home.css" />
</head>

<body>
    <main>
        <p>,,Najczęściej używany przeze mnie menadżer haseł."</p>
        <p>,,Bardzo dobry poziom usług."</p>
        <p>,,Mój ulubiony menadżer haseł."</p>
    </main>

    <!--         <div class="card">
            <section>
                <h2>Nasza Misja</h2>
                <p>
                    Oferowanie klientom wygodnej opcji zapisania oraz przechowywania haseł.
                </p>
            </section>
        </div> -->

    <!--         <div class="card">
            <section>
                <h2>Opinie Klientów</h2>
                <p>
                    ,,Najczęściej używany przeze mnie menadżer haseł."- Marek M.
                </p>
                <p>
                    ,,Ok, bardzo dobry poziom usług."- Martyna K.
                </p>
                <p>
                    ,,Mój ulubiony menadżer haseł."- Janek K.
                </p>
            </section>
        </div> -->
</body>

{% endblock %}