{% extends "base.html" %} {% block content %}

<head>
    <link rel="stylesheet" href="../static/css/login.css" />
</head>

<body>
    <h2>Logowanie</h2>
    <div class="container">
        <form name="form" method="POST" action="/login" enctype="multipart/form-data">
            <label for="username">Nazwa Użytkownika</label>
            <input id="username" name="username" type="text" placeholder="Twoja nazwa użytkownika ..." required>

            <label for="password">Hasło</label>
            <input id="password" name="password" type="password" placeholder="Twoje hasło ..." required>

            <input type="submit" name="submit" value="Zaloguj się">
        </form>
    </div>
</body>

{% endblock %}